@import '../../variables.scss';

.parent-container{
    width: 100%;
}


body{
    background: $background;
   
    

   
}

.header-container{
    width: 100%;
}

.login-container{
    
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 60vh;
    background-color: $primarycolor;
    justify-content: center;  
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    border: solid 2px rgb(65, 220, 225);

    .inputs{
        display: flex;
        flex-direction: column;
    }
    
    input{
        @include inputs;
        margin: 15px;
        
    }

    button{
        @include buttons;
        padding: 10px;
        margin: 10px;
    }
}

@media screen and (max-width: 750px){
    .header-container{
        position: absolute;
        width: 99%;
        border: fixed;
        right: 0;
        
        .devify{
            position: absolute;
        }

        .menu-container {
            .toggle-button{
                position: fixed;
                top: 20px;
                right: 20px;

            }
        }
            
        

    }

    
    
    .login-container{
        margin-top: 0;
        min-height: 120vh;
        width: auto;
    }
}