@import '../../variables.scss';


body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;

    .register-container{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
        height: 50vh;
        width: 50vw;
        background-color: $primarycolor;
        border: solid 2px rgb(65, 220, 225);
    
        .register-form{
            
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
    
    
    
            input {
                
                @include inputs;
                
             }

             button{
                 @include buttons;
             }
        }
     
    }

}
