@import '../../variables.scss';


.content-container{
    display: flex;
    align-items: center;
}

.input-container{
    background-color: $primarycolor;
    height: 35vh;
    width: 50vw;
    margin-top: 50px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid 2px rgb(65, 220, 225);
    
    input{
        margin: 0 8px;
    }

    button{
        margin: 0 4px;
        @include buttons;
    }
}

.song-container{
    background-color: $primarycolor;
    height: 70vh;
    width: 50vw;
    margin-top: 50px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 2px rgb(65, 220, 225);
    overflow: scroll;

    .labels{
        margin-top: 5px;
        display: flex;
        justify-content: space-around;

        span{
            width: 16.7vw;
            display: flex;
            justify-content: center;
            
        }
    }

    .library{
        height: 8vh;
        
        display: flex;
        justify-content: space-around;
        align-items: center;

       
      

        .songs{
            width: 16.7vw;
            display: flex;
            align-items: center;
            justify-content: center; 
        }

        .artists{
            width: 16.7vw;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .addsong-button{
            width: 16.7vw;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h1{
            font-size: 20px;
            color: white;
        }
    }
}