@import '../../variables.scss';



.content-container{
    display: flex;
    align-items: center;

    button{
        margin: 0 4px;
        @include buttons;
    }
}

.input-container{
    background-color: $primarycolor;
    height: 35vh;
    width: 50vw;
    margin-top: 50px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid 2px rgb(65, 220, 225);
    border-radius: 10px;
    
    input{
        margin: 0 8px;
        @include inputs;
    }

  
}

.song-container{
    background-color: $primarycolor;
    height: 70vh;
    width: 50vw;
    margin-top: 50px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 2px rgb(65, 220, 225);
    border-radius: 10px;
    overflow: scroll;

    .labels{
        margin-top: 5px;
        display: flex;
        justify-content: space-around;

        span{
            width: 16.7vw;
            display: flex;
            justify-content: center;
            @extend %fancy-font;
            color: aqua;
            font-size: 22px;
            font-weight: 600;
            text-decoration: underline;
            
        }
    }

    .library{
        height: 8vh;
        
        display: flex;
        justify-content: space-around;
        align-items: center;

       
      

        .songs{
            width: 16.7vw;
            display: flex;
            align-items: center;
            justify-content: center; 
            font-family: 'Lexend Deca', sans-serif;
        }

        .artists{
            width: 16.7vw;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Lexend Deca', sans-serif;
        }

        .addsong-button{
            width: 16.7vw;
            display: flex;
            align-items: center;
            justify-content: center;
            
            
        }

        h1{
            font-size: 20px;
            color: white;
        }
    }
    .modal-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50vw;
        height: 70vh;
        background: rgba(0, 0, 0, 0.712);
        position: fixed;

        .myplaylists{
            background: white;
            color:black;
            height: 100px;
            width: 200px;
            
        }
    }
}

@media screen and (max-width: 750px){
    .content-container{
        display: flex;
        flex-direction: column;
        overflow: scroll;
        

        .input-container{
            height: 40vh;
            width: 101vw;
            display: flex;
            padding-top: 50px;
            
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            div{
                input{
                    margin: 5px 0;
                }
                button{
                    margin: 5px 0;
                }
                display: flex;
            
                flex-direction: column;
                justify-content: center;
                align-items: center;  
            }

            input{
                width: 100%;
                display:flex;
            }
        }

        .song-container{
            display:flex;
            margin: 0;
            width: 101vw;
            overflow: scroll;
        }
    }
}