@import '../src/variables.scss';

#root{
  width: 100%;
}


.header-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  // width: 100vw;
  background-color: $primarycolor;

  div{
    margin: 0 50px;
    display: flex;
    
  }
  

 .links{
   color: white;
   text-decoration: none;
   margin: 0 50px;
   font-size: 20px;
   
 }

 .active{
   color: black;
 }
  
}

header .toggle-button{
  display: none;
}

header .mobile-logout{
  display: none;
}

.devify {
  @include title;
}

.logout{
  margin: 0 50px;
  color: white;
  background: none;
  border: none;
  padding: none;
  font-size: 20px;
}


@media screen and (max-width: 725px){
  .header-container{
    // width: 100vw;
    // min-width: 100vw;
    display: flex;
    justify-content: space-between;
    border: aqua solid 2px;
    
    
  }

 .menu-container{

  
   margin-left: 50px;
 }

 header nav {
   min-height: 100vh;
   min-width: 60vw;
   position: fixed;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   top: 0;
   right: 0;
   transform: translate(500px, 0);
   transition: 0.4s;
   transition-timing-function: ease-in-out;
   background-color: aqua;

   
 }

 .logout{
   display: none;
 }

 header .show{
   transform: translate(0, 0)
 }

 header .toggle-button {
   display: flex;
   z-index: 1;
   @include buttons;
  
 }


 header .mobile-logout{
   display: flex;
   height: 50px;
   width: 100px;
   justify-content: center;
  @include button
 }

  header .mobile-logout:active{
  
      background-color: #0a0909;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    
  }
}