@import '../../variables.scss';

body{
    height: 100vh;
    width: 100vw;

    .display-container{
        margin-top: 100px;
       
        width: 60vw;
        background-color: $primarycolor;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        button{
            @include buttons;
        }

        input{
            @include inputs;
        }
    }
}













.playlists {
    color: white;
    font-size: 22px;
}