@import '../../variables.scss';

body{
    height: 100vh;
    width: 100vw;

    .display-container{
        margin-top: 100px;
        
        width: 60vw;
        background-color: $primarycolor;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        border-radius: 5px;
        border: solid 2px rgb(65, 220, 225);

      .container-child{
          height: 120vh;
      }

        button{
            @include buttons;
            margin: 10px;
        }

        input{
            @include inputs;
        }
    }
}














.playlists {
    color: white;
    font-size: 22px;
}